.playground {
    display: grid;
    grid-template-columns: clamp(100px, 15%, 400px) auto;
    grid-template-areas:
        "header header"
        "files editor";

    > header {
        grid-area: header;
    }
    > .file-view {
        grid-area: files;
        display: flex;
        flex-direction: column;
    }
    > .editor {
        grid-area: editor;
    }
}
