:root {
    --purple-hsl: 255, 60%, 60%;
    --overlay-blurple: hsla(var(--purple-hsl), .2);
}

[data-has-hero] .page {
    background: linear-gradient(215deg,var(--overlay-blurple),transparent 40%),radial-gradient(var(--overlay-blurple),transparent 40%) no-repeat -30vw -20vh / 105vw 200vh,radial-gradient(var(--overlay-blurple),transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem
}

/* Custom Theme */
/* Dark mode colors. */
:root {
	--sl-color-accent-low: #36113e;
	--sl-color-accent: #a400c0;
	--sl-color-accent-high: #e3b6ed;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #efedf1;
	--sl-color-gray-2: #c3c1c6;
	--sl-color-gray-3: #8e8994;
	--sl-color-gray-4: #5a565f;
	--sl-color-gray-5: #3a363f;
	--sl-color-gray-6: #28252d;
	--sl-color-black: #19171b;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ebc9f3;
	--sl-color-accent: #a700c3;
	--sl-color-accent-high: #4e0e5b;
	--sl-color-white: #19171b;
	--sl-color-gray-1: #28252d;
	--sl-color-gray-2: #3a363f;
	--sl-color-gray-3: #5a565f;
	--sl-color-gray-4: #8e8994;
	--sl-color-gray-5: #c3c1c6;
	--sl-color-gray-6: #efedf1;
	--sl-color-gray-7: #f7f6f8;
	--sl-color-black: #ffffff;
}