---
export interface Props {
    gap: string
}
const { gap = "0px" } = Astro.props;
---

<div class="split-view" style={`gap: ${gap}`}>
    <div><slot name="left" /></div>
    <div><slot name="right" /></div>
</div>

<style>
    .split-view {
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }

    .split-view > :global(*) {
        margin-top: 0 !important;
        overflow: hidden;
    }

    @media only screen and (min-width: 640px) {
        .split-view {
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
        }
    }
</style>